---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "vno"
;

// new add style;
.back-to-top{
        position: fixed;
        bottom: 30px;
        right: 30px;
        border: 1px solid #888;
}