<head>
  <!-- <meta name="google-site-verification" content="F38AJMaQNrHLWI-11CZ_jNXh-a0sCEmJEKOd25TcgrE" /> -->
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
  <meta name="Description" content="这是伍亦勤的随笔博客，包括IT技术与学习经验. This is a technical blog of Albert-W.">

  <!-- <script async="async" defer="defer" type="text/javascript" 
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script> -->
  <script defer="defer" type="text/javascript" src="{{site.baseurl}}/js/main_nojq.js"></script>

  <link href="{{site.baseurl}}/assets/images/favicon.png?" rel="shortcut icon" type="image/png">
  <link media="all" rel="stylesheet" href="{{site.baseurl}}/css/main.css">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <!-- <meta name="description"
    content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"> -->
    
  <!-- <meta name="twitter:card" content="summary">
  <meta name="twitter:title"
    content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}">
  <meta name="twitter:description"
    content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <meta property="og:type" content="article">
  <meta property="og:title"
    content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}">
  <meta property="og:description"
    content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"> -->

  <!-- <link rel="icon" type="image/png" href="{{site.baseurl}}/assets/images/favicon.png" /> -->
  <!-- <link rel="stylesheet" href="/css/main.css"> -->
  <!-- <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"> -->

  <!-- <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}"
    href=" {{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}"> -->


</head>